[submodule "thirdparty/pico-sdk"]
	path = thirdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "thirdparty/bluepad32"]
	path = thirdparty/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "thirdparty/picotool"]
	path = thirdparty/picotool
	url = https://github.com/raspberrypi/picotool.git
