[submodule "thirdparty/pico-sdk"]
	path = thirdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "thirdparty/bluepad32"]
	path = thirdparty/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "thirdparty/picotool"]
	path = thirdparty/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "thirdparty/picoprobe"]
	path = thirdparty/picoprobe
	url = https://github.com/raspberrypi/picoprobe.git
[submodule "thirdparty/openocd"]
	path = thirdparty/openocd
	url = https://github.com/raspberrypi/openocd.git
[submodule "thirdparty/ki-lime-pi-pico"]
	path = thirdparty/ki-lime-pi-pico
	url = https://github.com/recursivenomad/ki-lime-pi-pico.git
